<div class="container">
  <h1>My tasks</h1>

  <div class="card">
    <% @tasks.each do |task| %>
      <p><%= link_to task.title, task_path(task)%></p>
    <%end%>
  </div>

  <p>
  <%= link_to 'Add task', new_task_path %>
  </p>
</div>
